* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  color: #333333;
}

a {
  color: #333333;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 100px;
  background-color: #0076be;
}

a.brand {
  display: block;
  width: 200px;
  height: 40px;
  background: #ddd;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  float: left;
  margin-top: 30px;
}

nav {
  width: 700px;
  margin-top: 30px;
  float: right;
}

ul.gnb {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul.gnb>li {
  width: 25%;
  text-align: center;
  transition: all 300ms;
  position: relative;
}

ul.gnb>li>a {
  font-size: 18px;
  font-weight: bold;
  color: #ddd;
  line-height: 40px;
}

ul.gnb>li:hover {
  background-color: #ddd;
}

ul.gnb>li:hover>a {
  color: #e66b27;
}


ul.lnb {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 10;
  background-color: #ddd;
  width: 100%;
  height: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

ul.lnb>li:hover {
  background-color: #e66b27;
}

ul.lnb>li:hover>a {
  color: #fff;
}
ul.lnb li{
  padding-left: 20px;
  padding-right: 20px;
}
ul.lnb>li>a {
  display: block;
  color: #333333;
  line-height: 35px;
  text-align: center;
  border-bottom: 1px solid #333;
}
ul.lnb>li:last-child>a{
  border: none;
}
.slide{
  overflow: hidden;
  position: relative;
  width: 1200px;
  height: 300px;
}
.slidein{
  width: 3600px;
  height: 300px;
  position: absolute;
}
.imgbox{
  width: 1200px;
  height: 300px;
  float: left;
}
